@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

/* ROOT */
:root {
  /* Colours */
  --light: #FFF;
  --dark: #130001;
  --pink: #945067;
  --blue: #EDF2F4;
  --green: #C4C1B2;
  --purple: #887F8E;
  --light-purple: #887f8e76;
  --light-green: #c4c1b2e6;

  /* Typography */
  --heading: "Playfair Display", serif;
  --body: "Oxygen", sans-serif;
}
/* GLOBAL */
*, *::before, *::after {
  margin: 0;
  box-sizing:border-box;
}

body {
  background-color: var(--light);
  padding: 0;
  height: 100vh;
  min-height: 100%;
  color: var(--dark);
  font-size: 0.9rem;
  font-family: var(--body);
  line-height: 1.6;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {font-family: var(--heading);}

h1 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

p {
  margin: .5em 0;
}

/* UTILITY */
.container {
  margin: 0 auto;
  padding: 2em 4em;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* NAVIGATION BAR */
#heart {
  fill: var(--pink);
  height: 1.8em;
  width: 1.8em;
  opacity: 1;
  display: block;
  z-index: 2;
  transform: scale(1);
  transition: all ease-in 0.5s;
}

#heart:focus {
  outline: 2px solid var(--green);
}

#heart:hover {
    cursor: pointer;
    opacity: .6;
    transform: scale(0.7);
}

#heart:active {
    opacity: 1;
}

.navbar {
    height: 50px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-menu {
  background: var(--light-green);
  opacity: 0;
  margin: 0 auto;
  padding: .8em 0;
  width: 90%;
  height: 100%;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  z-index: 1;
  transform: translateY(-100%);
  transition: transform 0.8s ease-in-out;
}

.show-menu {
    opacity: 1;
    transform: initial;
}

.nav-menu li {
  padding: 1em 0;
  width: 100%;
  text-align: center;
}

.nav-menu li:hover {
  background-color: var(--green);
  transition: all linear 0.2s;
}

.nav-menu a:link {
    color: var(--pink);
    opacity: 1;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all linear 0.2s;
}

.nav-menu a:visited {
  color: var(--pink);
}

.nav-menu a:focus {
  opacity: .6;
}

.nav-menu a:hover {
  opacity: 1;
}

.nav-menu a:active {
  opacity: .6;
}

#hero {
    background-image: url("../images/floral-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--light);
    opacity: .9;
    margin: 0 auto;
    min-height: inherit;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    backdrop-filter: contrast(0%) brightness(2);
    transition: all ease-in-out 0.5s;
    /* transition: backdrop-filter 2s, opacity ease-in-out .5s; */
}

#hero:hover {
  opacity: 1;
}

.hero-box {
    background-color: var(--blue);
    margin: 1em;
    padding: 5em;
    text-align: center;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* RSVP PAGE */
#rsvp-form {
  margin-top: 50px;
  width: 100%;
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

#rsvp-form label {
  padding-right: .5em;
  grid-column: 1 / 2;
  color: var(--dark);
}

#rsvp-form input,
#rsvp-form button,
#rsvp-form .options {
  grid-column: 2 / 3;
}

#rsvp-form input:not(.radio) {
  height: 2.6em;
}

#rsvp-form input,
#rsvp-form textarea {
  margin-bottom: 1em;
  color: var(--dark);
  font-family: var(--body);
  font-size: 1em;
  accent-color: var(--pink);
  outline: none;
  border: 1px solid var(--purple);
  border-radius: .3em;
}

#rsvp-form input:focus:not(input[type=radio]),
#rsvp-form textarea:focus {
  outline: 2px solid var(--green);
} 

#rsvp-form textarea {
  min-height: 100px;
}

.required {
  color: var(--pink);
}

#requirements {
  display: none;
}

#requirements-label {
  display: none;
}

.btn {
  background-color: var(--pink);
  padding: .8em 1em;
  color: var(--light);
  font-family: var(--body);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  outline: none;
  border: 2px solid var(--pink);
  border-radius: 5em;
  opacity: 1;
  transition: all linear .5s;
}

.btn:focus {
  outline: 2px solid var(--green);
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
}

.btn:active {
  opacity: 1;
}

/* DETAILS PAGE */
#schedule {
  max-width: 450px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

#schedule .time {
  margin-bottom: 1.6em;
  grid-column: 1 / 2;
}

#schedule .description {
  grid-column: 2 / 3;
}

#schedule .schedule-heading {
  margin: 1em auto;
  width: 80%;
  grid-column: 1 / 3;
  text-align: center;
  border-bottom: 1px solid var(--light-purple);
}

.venue-info {
  margin-bottom: 1.4em;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

  body {
    font-size: 1rem;
  }

  #heart {
      display: none;
  }

  .show-menu {
    display: none;
  }

  .navbar {
      margin: 0 auto;
      width: 50%;
      border-bottom: 1px solid var(--light-purple);
  }

  .nav-menu {
    background: transparent;
    opacity: 1;
    padding: 0;
    height: initial;
    flex-direction: row;
    position: static;
    transform: initial;
  }

  .nav-menu li {
    padding: 0 2em;
    width: initial;
  }

  .nav-menu li:hover {
    background-color: initial;
  }

  .nav-menu a:link {
    font-size: 1em;
    color: var(--purple);
  }

  .nav-menu a:visited {
    color: var(--purple);
  }
  
  .nav-menu a:focus {
    opacity: 1;
  }
  
  .nav-menu a:hover {
    opacity: .6;
  }
  
  .nav-menu a:active {
    opacity: 1;
  }

  .hero-bg {
    margin: 1em auto;
    min-height: 85%;
  }
}